<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PharmaStock | Trusted Healthcare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">PharmaStock</div>
    <nav>
      <a href="#">Home</a> </nav> 
     <nav>  <a href="#about">ABOUT</a></nav> 
     <nav> <a href="#features">FEATURES</a></nav>  
     <nav> <a href="#contact">CONTACT</a></nav>  
        <a href="/login" class="btn">Login</a>
    </nav>   <a href="/register" class="btn">New User</a>
    </nav>
</header>

<!-- Hero Section -->
 <section id="home" class="only">
    <video autoplay muted loop playsinline>
        <source src="/static/health.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
<section class="hero">
    <h1>Innovating Healthcare for a Better Tomorrow</h1>
    <p><b>Trusted pharmaceutical solutions with quality, safety, and care.</b></p>
    <a href="/login" class="hero-btn">Get Started</a>
</section>

<!-- About -->
<section class="section" id="about">
    <h2>About Us</h2>
    <p><h4>
     At [PharmaStock], we revolutionize pharma management with intuitive web software that simplifies inventory, prescriptions, billing, and compliance. Founded by healthcare veterans in [2026], we've helped  pharmacies cut errors by 40% and boost efficiency amid evolving regulations.   PharmaCare is committed to delivering high-quality medicines
        and healthcare solutions with global standards and trust.  PharmaCare is a modern Pharmacy Management Software built to simplify daily pharmacy operations.
        From medicine inventory and sales billing to expiry tracking and business analytics,
        our platform helps pharmacy owners operate efficiently and grow faster with data-driven decisions.
   </h4> </p>
</section>

<!-- Products -->
<section class="section light" id="features">
    <h2>Our Expertise</h2>
    <div class="cards">

        <div class="card">
            <h2>💊 Smart Inventory</h2>
            <p><b>Real-time stock tracking with automated quantity monitoring.</b></p>
        </div>

        <div class="card">
            <h2>🧾 Sales & Billing</h2>
         <b> Generate professional invoices and maintain accurate sales records.</b>
        </div>

        <div class="card">
            <h2>⏳ Expiry Monitoring</h2>
           <b> Track expired and near-expiry medicines to reduce losses.</b>
        </div>

        <div class="card">
            <h2>📊 Business Reports</h2>
            <b>Monthly and yearly sales analysis reports for business growth.</b>
        </div>

        <div class="card">
            <h2>🔒 Secure Database</h2>
           <b>Powered by Flask & MySQL ensuring secure data storage.</b>
        </div>

        <div class="card">
            <h>⚡ Fast & User Friendly</h2>
          <b>Simple interface designed for smooth daily operations.</b>
        </div>

    </div>
</section>
<!-- ================= STATS ================= -->
<section class="section stats">
    <div class="stat-box">
        <h2>5000+</h2>
        <p>Bills Generated</p>
    </div>
    <div class="stat-box">
        <h2>2000+</h2>
        <p>Medicines Managed</p>
    </div>
    <div class="stat-box">
        <h2>99%</h2>
        <p>Accuracy Rate</p>
    </div>
</section>

<!-- ================= WHY CHOOSE US ================= -->
<section class="section">
    <h2>Why Choose PharmaStock?</h2>
    <p class="section-text">
     <h3>   We combine technology and healthcare expertise to deliver a reliable,
        scalable and professional pharmacy management solution.
        Our system improves workflow efficiency, minimizes errors,
        and provides actionable business insights.
</h3>    </p>
</section>
<!---contact us--->

<section class="section" id="contact">
    <h2>Contact us</h2>
    <p> <b>Mail us- anasrazakhan7866@gmail.com </b></p>
</section>
<!-- Footer -->
<footer>
    <p>© 2026 PharmaCare. All Rights Reserved.</p>
</footer>

</body>
</html>
